*, html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: #0bb;
  color: white;
  padding: 6px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count{
  position: relative;
  font-size: large;
  padding-right: 8px;
}

.count::after{
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ffc;
  color: #004;
  margin: 1px;
  text-align: center;
  font-size: 13px;
  width: 20px;
  height: 20px;
  border-radius: 40px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: black;
}

.action-btn{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.btn{
  background-color: #87a;
  padding: 8px 16px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  color: #fef;
  cursor: pointer;
}

.btn:hover{
  filter: brightness(.9);
}

.reset{
  background-color: #f33;
}